APP_NAME=Lavalust
APP_KEY=
APP_ENV=production

DB_DRIVER=mysql
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CHARSET=utf8mb4
DB_PREFIX=

API_HELPER_ENABLED=true
JWT_SECRET=
REFRESH_TOKEN_KEY=
ALLOW_ORIGIN=*

MIGRATION_ENABLED=false